@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  --primary-blue: #233975;
}

/* Common Style */

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
h1 {
  font-size: 1.8rem;
  font-weight: 700;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: var(--primary-blue);
}
a:hover {
  text-decoration: underline;
}

/*.small {
    font-size: 80%;
    text-align = center;
}*/

.split-screen {
  display: flex;
  flex-direction: column;
}


/* Portal Header Start */

.portal-header {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}

.portal-header .block-description-one {
  margin-top: 10px;
  margin-left: 10%;
  width: 24%;
  float: left;
}
.portal-header .block-description-one a:hover {
  text-decoration: none;
}

.portal-header .block-description-two {
  float: right;
  margin-right: 10%;
}
.portal-header .block-description-two span {
  float: left;
}
.portal-header .block-description-two ul {
  float: right;
}
.portal-header .block-description-two ul li {
  display: inline-block;
  color: black;
}
.portal-header .block-description-two ul li a {
  color: #2c4893;
  padding: 10px;
}

.portal-header .block-description-two ul li a:hover {
  color: #404041;
  text-decoration: none;
}

/* Portal Header End */


/* Client Header Start */

.header {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.header hr {
  display: block;
  border: 1px solid #2c4893;
}
.header .block-description-one {
  width: 24%;
  float: left;
  margin-left: 15%;
  margin-top: 15px;
}
.header .block-description-one a:hover {
  text-decoration: none;
}

.header .block-description-two {
  width: 24%;
  float: right;
  margin-right: 15%;
}
.header .block-description-two a {
  display: block;
  color: black;
}
.header .block-description-two ul {
  float: right;
}
.header .block-description-two ul li {
  display: inline-block;
  color: black;
}
.header .block-description-two ul li a {
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  border-color: var(--primary-blue);
  padding: 10px;
}

.header .block-description-two ul li a:hover {
  border-color: none;
  background-color: #2c4893;
  color: #ffff;
  text-decoration: none;
}

/* Client Header End */

/* Client Footer Start */

.footer {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer hr {
  display: block;
  border: 1px solid #2c4893;
}
.footer .block-description-one {
  width: 24%;
  float: left;
  margin-left: 15%;
}

.footer .block-description-two {
  width: 25%;
  float: right;
  margin-right: 15%;
}
.footer .block-description-two a {
  display: block;
  color: black;
}
/* Client Footer End */


/* Portal Footer Start */

.portal-footer {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.portal-footer hr {
  display: block;
  border: 1px solid #2c4893;
}
.portal-footer .block-description-one {
  width: 24%;
  float: left;
  margin-left: 10%;
}

.portal-footer .block-description-two {
  float: right;
  margin-right: 10%;
  display: flex;
}
.portal-footer .block-description-two a {
  display: block;
  color: black;
}
/* portal Footer End */
.outer_box{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 25px;
  font-weight: 500;
}

.inerBox{
  width: 850px;
  background: #fff;
  display: flex;
  padding-left: 50px;
  box-shadow: -2px 2px 20px #696969;
  border-radius: 15px;
}


/* Portal Start */
.container {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}

.container .nav-bar {
  width: 20%;
  float: left;
  justify-content: center;
  align-items: center;
}
.container .portal-body {
  width: 78%;
  float: right;
  font-weight: normal;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background-color: #ffff;
  min-height: 50vh;
}

.container .nav-bar ul {
  padding-left: 0%;
  margin-top: 0%;
  width: 100%;
}

.container .nav-bar ul li {
  display: block;
  color: black;
  margin-bottom: 2.5%;
}
.container .nav-bar ul li a {
  display: flex;
  justify-content: center;
  color: #233975;
  border: 1px solid #2c4893;
  padding: 10px;
  border-radius: 5px;
}

.container .nav-bar ul li a:hover {
  border-color: none;
  background-color: #2c4893;
  color: #ffff;
  text-decoration: none;
}

/* Portal End */

/*  My code start*/
.input_style{
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 20px;
  font-weight: 500;
}

.input_style1{
  font-size: 20px;
  font-weight: 500;
  width:30px;
}

.label1{
  font-size: 15px;
  font-weight: 500;
  width:30px;
}

.legend_style{
  margin-top: 25px; margin-bottom: 0px;
}


.gender{
  margin-top: 0px; margin-bottom: 0px;
}

.span_style{
  color: red;
  font-size: 10px;
  font-weight: 247px;
  width: 247px;
}

.dob{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 12px 0;
  margin-top: 0px; margin-bottom: 0px;
}

select{
  font-size: 20px;
  font-weight: 500;
  width: 150px;
}

hr{
  margin-top: 2px; margin-bottom: 0px;
  margin-left:0;
  width:300px;
}

table{
  text-align: left; 
  vertical-align:top; 
  border-style: none;
}

/* .td1{
  text-align: left; 
  vertical-align:top; 
  width: 30%;
}

.td2{
  width: 70%;
} */
.submit_button {
background-color: #4169E1;
color:	white;
border: none;
padding: 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 25px;
margin: 8px 50%;
cursor: pointer;
border-radius: 12px;
}

.input_style_password{
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 20px;
  font-weight: 500;
  font-family:dotsfont;
}
/*  My code end */

.view_expenses {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.view_expenses td, .view_expenses th {
  border: 1px solid #ddd;
  padding: 8px;
}

.view_expenses tr:nth-child(even){background-color: #f2f2f2;}

.view_expenses tr:hover {background-color: #ddd;}

.view_expenses th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

